/* Main design and How to play section */

body {
    background-color: #Eab03c;
}

h1 {
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 250%;
    text-align: center;
}

h2 {
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 175%;
    text-align: center;
}

h3 {
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 150%;
    text-align: center;
}

#instruction-list {
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 120%;
}

#how-to-play {
    border-radius: 25px;
    background-color: #66a3f3;;
    border: 5px solid #230569;
}

/* Game Area */

.box {
    height: 350px;
    width: 350px;
    border-radius: 25px;
    background-color: #66a3f3;;
    border: 5px solid #230569;
    margin: 25px;
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 150%;
}

#p1-current, #comp-current {
    display: inline-block;  
    text-align: center;  
}

#game-section {
    text-align: center;
}

#button-container {
    margin: auto;
}

#button-container td {
    padding: 20px;
}

#score-sheet {
    margin: auto;
}

#player-score-total {
    padding-right: 30px;
}

#align-center {
    text-align: center;
}

/* Game Buttons */

#end-game {
    text-align: center;
    background-color: #CD2424;
    border: 2px solid #230569;
    font-size: 150%;
    font-family: 'GFS Neohellenic', sans-serif;
    border-radius: 25%;
    padding: 15px;
}

#new-game {
    text-align: center;
    background-color: #40D31B;
    border: 2px solid #230569;
    font-size: 150%;
    font-family: 'GFS Neohellenic', sans-serif;
    border-radius: 25%;
    padding: 15px;
}

.blue-button {
    text-align: center;
    background-color: #4a95f7;
    border: 2px solid #230569;
    font-size: 150%;
    font-family: 'GFS Neohellenic', sans-serif;
    border-radius: 25%;
    padding: 15px;
}

#buttons {
    text-align: center;
}

#compare-cards {
    text-align: center;
    background-color: #4a95f7;
    border: 2px solid #230569;
    font-size: 150%;
    font-family: 'GFS Neohellenic', sans-serif;
    border-radius: 25%;
    padding: 15px;
}

/* Media Queries */







