/* Main design and How to play section */

body {
    background-color: #Eab03c;
}

h1 {
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 250%;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 175%;
    text-align: center;
    padding-bottom: 25px;
    margin: 0;
}

h3 {
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 150%;
    text-align: center;
}

img {
    width: 100%;
}

/* Game Area */

.box {
    height: 450px;
    width: 350px;
    background-image: url("../images/card-curved-blue.png");
    margin: 25px;
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 175%;
}

#p1-current,
#comp-current {
    display: inline-block;
    text-align: center;
}

#game-section {
    text-align: center;
}

.card-table {
    margin-left: 25%;
    margin-top: 25%;
    padding: 0;
}

#button-container {
    margin: auto;
}

#button-container td {
    padding: 20px;
}

#score-sheet {
    margin: auto;
}

#player-score-total {
    padding-right: 30px;
}

#align-center {
    text-align: center;
}

/* Game Buttons */

#end-game {
    text-align: center;
    background-color: #CD2424;
    border: 2px solid #230569;
    font-size: 150%;
    font-family: 'GFS Neohellenic', sans-serif;
    border-radius: 25%;
    padding: 15px;
    color: black;
}

#new-game {
    text-align: center;
    background-color: #40D31B;
    border: 2px solid #230569;
    font-size: 150%;
    font-family: 'GFS Neohellenic', sans-serif;
    border-radius: 25%;
    padding: 15px;
    color: black;
}

.blue-button {
    text-align: center;
    background-color: #4a95f7;
    border: 2px solid #230569;
    font-size: 150%;
    font-family: 'GFS Neohellenic', sans-serif;
    border-radius: 25%;
    padding: 15px;
    color: black;
    
}

#buttons {
    text-align: center;
}

#compare-cards {
    text-align: center;
    background-color: #4a95f7;
    border: 2px solid #230569;
    font-size: 150%;
    font-family: 'GFS Neohellenic', sans-serif;
    border-radius: 25%;
    padding: 15px;
    color: black;
}

button:disabled, #end-game:disabled, #compare-cards:disabled {
    color: rgb(78, 75, 75);
}

/* modal styling */

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 70%;
    left: 35%;
}

.modal-content {
    font-family: 'GFS Neohellenic', sans-serif;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

#close-modal {
    background-color: white;
    text-align: center;
    position: absolute;
    left: 45%;
    font-size: 150%;
    font-family: 'GFS Neohellenic', sans-serif;
    border-radius: 25%;
    padding: 15px;
    color: black;
}

#close-finish-modal {
    background-color: white;
    text-align: center;
    position: absolute;
    left: 45%;
    font-size: 150%;
    font-family: 'GFS Neohellenic', sans-serif;
    border-radius: 25%;
    padding: 15px;
    color: black;
}

#instruction-list {
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 120%;
}

#how-to-play {
    border-radius: 25px;
    background-color: #66a3f3;
    border: 5px solid #230569;
}

#end-of-game {
    border-radius: 25px;
    background-color: #66a3f3;
    border: 5px solid #230569;
    display: none;
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 35%;
    left: 35%;
}

#modal-content2 {
    font-size: 150%;
    font-family: 'GFS Neohellenic', sans-serif;
}

/* footer */

footer {
    font-family: 'GFS Neohellenic', sans-serif;
    text-align: center;
    font-size: 125%;
}

/* Media Queries */

@media only screen and (max-width: 700px) {
    body {
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 120%;
        padding-top: 10px;
    }

    h1 {
        font-size: 130%;
    }

    #button-container button {
        padding: 0;
    }

    .card-table {
        margin: auto;
    }

    .blue-button {
        font-size: 100%;
    }

    #new-game {
        font-size: 100%;
    }

    #end-game {
        font-size: 100%;
    }

    #compare-cards {
        font-size: 100%;
    }

    .modal {
        display: none;
        z-index: 1;
        width: 90%;
        height: 80%;
        left: 0px;
        right: 0px;
        margin: auto;
    }

    #p1-current {
        width: 75%;
        height: 10%;
    }

    #p1CardName {
        margin: 0;
    }

    #comp-current {
        width: 75%;
        height: 10%;
    }

    #compCardName {
        margin: 0;
    }

    .box {
        background-image: none;
        background-color: #4a95f7;
        border: 2px solid #230569;
        border-radius: 25%;
        width: 100%;
        height: 20%;
        font-size: 100%;
        margin: auto;
    }

    #score-sheet {
        font-size: 100%;
    }

    footer {
        font-size: 110%;
    }

    #end-of-game {
        display: none;
        z-index: 1;
        width: 75%;
        height: 35%;
        left: 0px;
        right: 0px;
        margin: auto;
    }

    #modal-content2 {
        font-size: 150%;
        font-family: 'GFS Neohellenic', sans-serif;
        text-align: center;
    }

    #close-finish-modal {
        background-color: white;
        text-align: center;
        position: absolute;
        font-size: 120%;
        font-family: 'GFS Neohellenic', sans-serif;
        border-radius: 25%;
        padding: 5px;
    }
}